.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js
node_modules/

# Next.js
.next/
out/

# Production
build/

# Misc
.env*

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/

